<div class="container">
    <div class="weather">
        <div class="weather-period">Manhã</div>
        <div class="weather-icon">
            <img src="https://image.flaticon.com/icons/svg/732/732290.svg">
        </div>
        <div class="weather-minmax">
            <div class="weather-min">16°C</div>
            <div class="weather-max">25°C</div>
        </div>
        <div class="weather-hr">
            HR 68%
        </div>
    </div>
    <div class="weather">
        <div class="weather-period">Tarde</div>
        <div class="weather-icon">
            <img src="https://image.flaticon.com/icons/svg/732/732290.svg">
        </div>
        <div class="weather-minmax">
            <div class="weather-min">22°C</div>
            <div class="weather-max">31°C</div>
        </div>
        <div class="weather-hr">
            HR 53%
        </div>
    </div>

    <div class="weather">
        <div class="weather-period">Noite</div>
        <div class="weather-icon">
            <img src="https://image.flaticon.com/icons/svg/732/732267.svg">
        </div>
        <div class="weather-minmax">
            <div class="weather-min">17°C</div>
            <div class="weather-max">20°C</div>
        </div>
        <div class="weather-hr">
            HR 76%
        </div>
    </div>

    <div class="weather">
        <div class="weather-period">Madrugada</div>
        <div class="weather-icon">
            <img src="https://image.flaticon.com/icons/svg/732/732279.svg">
        </div>
        <div class="weather-minmax">
            <div class="weather-min">13°C</div>
            <div class="weather-max">17°C</div>
        </div>
        <div class="weather-hr">
            HR 84%
        </div>
    </div>
</div>
